---
layout: default
title: Projects
permalink: /projects
---

<div class="layout-default">
    <div class="content-default">
        <div class="content-wrap">
            <div class="container-notice">
                <img src="/assets/images/notice.svg" style="width: 100%">

                <div class="notice-main">
                    <div class="notice-title">페이지 준비 중입니다.</div>
                    <div class="notice-text">
                        <p>
                            개별 프로젝트 보기 기능을 준비 중입니다. <br>
                            각 프로젝트의 소스코드(github), 보고서나 PPT 는 CV의 '<b>PROJECTS</b>' 파트에서 보실 수 있습니다.
                        </p>
                    </div>

                    <div id="urgent-notice">
                        <div class="notice-icon-wrap"><i class="fa-solid fa-bell"></i></div>
                        <div class="notice-text">CV 보기 (Last update: 2023.03.29.)</div>
                        <a href="https://drive.google.com/file/d/1s6SZIIgloQesZCYpKr0EK779U-v8xWTk/view?usp=sharing" class="go-notice-btn">CV</a>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div>


<!-- <div class="layout-default" id="project-page">
    <div id="featured-part">
        <div id="featured-container">
            <div id="featurd-wrap">
                <span id="featured-title">Featured Projects</span>

                <div id="featured-img">
                    <img src="/assets/images/proj/proj_featured.svg">
                </div>
            </div>

            <div id="featured-list">
                {% for page in site.pages %}
                    {% if page.dir == "/projects/" and page.featured_project %}
                        <div class="proj-single"
                        style="background: linear-gradient(0deg, rgba(52, 100, 224, .8),rgba(52, 100, 224, .8)), url({{ page.project_teaser }}); background-position:center center; background-size: cover">
                            <div class="proj-duration">{{ page.project_duration }}</div>
                            <div class="proj-title">{{ page.title }}</div>
                            <a href="{{ page.url | relative_url }}" class="go-single-proj-page">See More...</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="whitespace"></div>
    </div>

    <div class="content-default">
        <div class="content-wrap">
            <span id="recent-title">All Projects</span>

            <div id="recent-list">
                {% for page in site.pages reversed %}
                    {% if page.dir == "/projects/" %}
                        <div class="proj-single-small"
                        style="background: linear-gradient(0deg, rgba(33, 33, 33, .6),rgba(33, 33, 33, .6)), url({{ page.project_teaser }}); background-position:center center; background-size: cover">
                            <div class="proj-duration">{{ page.project_duration }}</div>
                            <div class="proj-title">{{ page.title }}</div>
                            <a href="{{ page.url | relative_url }}" class="go-single-proj-page">See More</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div> -->