<div id="topbar">
    <!-- progress indicator -->
    <div class="progress-bar-wrap">
        <div class="progress-bar" id="indicator"></div>
    </div>

    <div class="topbar-main">

        <!-- sidebar btn -->
        <div class="sidebar-btn" onclick="openSidebar(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <!-- home btn -->
        <span class="material-symbols-outlined icon-home">
            <a href="/">home</a>
        </span>

        <div class="topbar-page-links">
            <a class="topbar-page-link" href="/category/recent_posts">Posts</a>
            <a class="topbar-page-link" href="/series">Series</a>
            <a class="topbar-page-link" href="/about">About</a>
            <a class="topbar-page-link" href="/projects">Projects</a>
            <a class="topbar-page-link" href="/notice">Notice</a>
        </div>
        

        <!-- search btn -->
        <span class="material-symbols-outlined icon-search">
            <a href="/search">search</a>
        </span>        
    </div>
    
    
</div>

<script>
    function openSidebar(x) {
        x.classList.toggle('open');
        var sidebar = document.getElementById('sidebar');
        sidebar.classList.toggle('open');
    }

    function lightToggle(x) {
        x.classList.toggle('dark');
    }

    window.onscroll = function() {
        createProgressBar()
        // showBreadcrumb()
    };
    function createProgressBar() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop; // 현재 스크롤 높이
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight; //실제 높이
        var scrolled = (winScroll / height) * 100;
        document.getElementById("indicator").style.width = scrolled + "%";
    }
    function showBreadcrumb() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        if (winScroll < 40) {
            console.log(winScroll);
            document.getElementById('topbar').style.top = "-40px";
        }
        else {
            document.getElementById('topbar').style.top = "0";
        }
    }
</script>