<div id="list-element-hor2" class="list-element">
    <a href="{{ post.url }}" class="list-element-url" style="background: linear-gradient(0deg, rgba(0,0,0,0.8),rgba(0,0,0,0)), url({{ post.teaser | relative_url}}); background-position:center center; background-size: cover">
        <!-- text -->
        <div class="list-element-text">

            <!-- category -->
            <div class="list-element-category">
                {% assign path = post.path | split: '/' %}
                {% assign lv1 = path[1] %}
                {% assign lv2 = path[2] %}

                <div class="breadcrumb-category">{{ lv1 }}</div>
                <span class="breadcrumb-slash">/</span>
                <div class="breadcrumb-category">{{ lv2 }}</div>
            </div><!-- category -->

            <!-- title -->
            <div class="list-element-title">{{ post.title }}</div>

            <!-- date -->
            <div class="list-element-date">{{ post.date | date: "%Y. %m. %d" }}</div>

            <!-- description -->
            <div class="list-element-excerpt">{{ post.excerpt | default: "" }}</div>

        </div>

        
    </a>
    <!-- <div class="background" style="background-image: url({{ post.teaser | relative_url}})"></div> -->
</div>

{% comment %}
{% if page.teaser %}
<script>
    document.getElementById("list-element-hor2").style.
</script>
{% else %}
{% endif %}
{% endcomment %}    
    