<div id="list-element-hor5" class="list-element">
    <a href="{{ post.url }}" class="list-element-url" style="text-decoration: none; color: black">
    
        <!-- teaser image -->
        <div class="list-element-teaser">
            {% if post.teaser %}
                <img src="{{ post.teaser }}" alt="{{ post.title }}">
            {% else %}
                <div class="empty-teaser"></div>
            {% endif %}
        </div>

        <!-- text -->
        <div class="list-element-text">

            <!-- category -->
            <div class="list-element-category">{{ post.categories | join: ' / ' }}</div>

            <!-- title -->
            <div class="list-element-title">{{ post.title }}</div>

            <!-- date -->
            <div class="list-element-date">{{ post.date | date: "%Y. %m. %d" }}</div>

            <!-- description -->
            <div class="list-element-excerpt">{{ post.excerpt | default: "" }}</div>

        </div>

    </a>
</div>