<div id="list-element-hor2" class="list-element">
    <a href="{{ post.url }}" class="list-element-url" style="background: linear-gradient(0deg, rgba(0,0,0,0.8),rgba(0,0,0,0)), url({{ post.teaser | relative_url}}); background-position:center center; background-size: cover">
        <!-- text -->
        <div class="list-element-text">

            <!-- category -->
            <div class="list-element-category">{{ post.categories | join: ' / ' }}</div>

            <!-- title -->
            <div class="list-element-title">{{ post.title }}</div>

            <!-- date -->
            <div class="list-element-date">{{ post.date | date: "%Y. %m. %d" }}</div>

            <!-- description -->
            <div class="list-element-excerpt">{{ post.excerpt | default: "" }}</div>

        </div>

        
    </a>
    <!-- <div class="background" style="background-image: url({{ post.teaser | relative_url}})"></div> -->
</div>