// font
$code_font: monospace, Consolas;
$text-size-default: 17px;
$h1-size-default: 30px;
$h2-size-default: 25px;
$h3-size-default: 20px;
$code-size-default: 15px;
$post-title: 38px;


// for all
::selection {
    background-color: $black;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

code {
    font-size: $code-size-default;
    font-family: $code_font;
}

// post
#post-content a {
    text-decoration: none;
    color: $link-color;
    border-bottom: 1px dotted $link-color;
    font-weight: 500;

    &:hover {
        background-color: $link-color;
    }
}

// paragraph
:root {
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 500;
}

p {
    font-size: $text-size-default;
    line-height: 30px;
    margin-bottom: 1.2em;
}

@media all and (max-width: $max-width-tablet) {
    p {
        line-height: 30px;
    }
}