// font
$code_font: monospace, Consolas;

$font-size-h1: 2rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.3rem;
$font-size-post-title: 2.5rem;

$font-size-p-mobile: 17px;
$font-size-h1-mobile: 30px;
$font-size-h2-mobile: 25px;
$font-size-h3-mobile: 20px;
$font-size-post-title-mobile: 38px;


// for all
::selection {
    background-color: $black;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

code {
    font-family: $code_font;
}



// paragraph
:root {
    font-family: 'NanumSquareNeo-Variable';
    font-size: 17px;
}

p {
    line-height: 1.6rem;
    margin-bottom: 1.2rem;
}

@media all and (max-width: $max-width) {
    // p {
    //     line-height: 30px;
    // }
}