@charset "utf-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} // 나눔스퀘어네오
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} // G마켓 산스, 300, 500, 700
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} // 여기어때 잘난
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} // 배민 주아
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} // 메이플스토리 / 300, 700
@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// color theme
$blue-600: #3464E0; // main
$blue-500: #507AE5;
$blue-400: #8AA6EE;
$blue-300: #C5D3F6;
$blue-200: #E2E9FB;
$blue-100: #F0F4FD;
$grey-600: #636363;
$grey-500: #8A8A8A;
$grey-400: #E6E6E6;
$grey-300: #F6F8FA;
$grey-200: #F5F5F5;
$grey-100: #FBFBFB; // main
$black: #333333;
$yellow: #E1AF33;

$main-color: $blue-600;
$link-color: $blue-600;
$hover-color: $blue-100;
$inline_code-color: $grey-300;
$inline_code_border-color: $grey-400;

// size
$topbar-height: 43px;

// laptop, desktop (~1024)
$max-width: 1024px;
$inner-width: 980px;
$content-width: 860px;
$sidebar-width: 300px;

// tablet (1024 ~ 760)
$max-width-tablet: 760px;
$inner-width-tablet: 700px;
$content-width-tablet: 684px;
$sidebar-width-tablet: 50vw;

// mobile (760 ~ )
$inner-width-mobile: 96%; //480px;
$content-width-mobile: 86%; //TEMP //460px;
$sidebar-width-mobile: 100vw;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;

    &::-webkit-scrollbar {
        width: 10px;  /* 스크롤바의 너비 */
    }
    
    &::-webkit-scrollbar-thumb {
        // height: 10%; /* 스크롤바의 길이 */
        background: $grey-600; /* 스크롤바의 색상 */
        // border-radius: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: $grey-400;  /*스크롤바 뒷 배경 색상*/
    }
}

.layout-default {
    height: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.scroll-btn {
    position: fixed; 
    right: 15px; 
    z-index: 99999999;
    border: 0.5px solid $grey-400;
    border-radius: 50%;
    background-color: $grey-300;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.go-top {
        bottom: 60px; 
    }

    &.go-bottom {
        bottom: 20px;
    }

    span {
        color: $grey-500;
    }
}

div.highlighter-rouge {
    margin-bottom: 20px;

}

code.hljs {
    border-radius: 8px;

    &::-webkit-scrollbar {
        width: 4px;  /* 스크롤바의 너비 */
    }
    
    &::-webkit-scrollbar-thumb {
        // height: 10%; /* 스크롤바의 길이 */
        background: $main-color; /* 스크롤바의 색상 */
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: $black;  /*스크롤바 뒷 배경 색상*/
    }
}

// 인라인 코드
code, code.highlighter-rouge { 
    border-radius: 5px;
    background-color: $inline_code-color;
    outline: 0.5px solid $inline_code_border-color;
    padding: 1px 4px;
}

// 가로선
hr {
    border: 0.1px solid $grey-400;
}

#urgent-notice {
    margin: 1rem 0 1.5rem 0;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.6rem;

    .notice-icon-wrap {
        border-left: 5px solid $main-color;
        margin-right: 1rem;
        padding: 1rem;
    }
    i {
        font-size: 1.5rem;
        color: $main-color;
    }

    .notice-text, a {
        margin-top: auto;
        margin-bottom: auto;
    }
    .notice-text {
        font-size: 0.9rem;
        line-height: 1.3rem;
        flex: 1;
    }
    a {
        display: inline-block;
        background-color: $main-color;
        border-radius: 2rem;
        padding: 0.6rem 1.2rem;
        font-size: small;
        font-family: 'GmarketSansMedium';
        font-weight: 700 !important;
        color: white !important;
        margin-left: 1rem;
        line-height: 1rem !important;
        border-bottom: none !important;
    }
}

#notice-box {
    margin: 1rem 0 1.5rem 0;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.6rem;

    .notice-icon-wrap {
        border-left: 5px solid $yellow;
        margin-right: 1rem;
        padding: 1rem;
    }

    i {
        font-size: 1.5rem;
        color: $yellow;
    }

    .notice-text {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 0.9rem;
        line-height: 1.3rem;
        flex: 1;
    }
}

#inserted-box {
    margin: 1rem 0 1.5rem 0;

    .notice-text {
        font-size: 0.9rem;
        line-height: 1.3rem;
        border-left: 3px solid $main-color;
        padding: 0.5rem;
        padding-left: 1rem;
    }
}

//comment
#disqus_thread {
    margin-top: 3rem;
    border-top: 1px solid $grey-400;
    padding-top: 3rem;
}

// import
@import "_text_style";
@import "table";
@import "page_404";
@import "page_notice";
@import "page_about";
@import "page_home";

@import "items/content";
@import "items/footer";
@import "items/list";
@import "items/title";
@import "items/toc";
@import "items/topbar";
@import "items/side_menu";