#layout-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-404 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2.5rem;
    align-items: center;
}

img {
    width: 100%;
}

.title-404 {
    color: $main-color;
    font-size: $font-size-h1;
    font-family: 'yg-jalnan';
    margin-bottom: 1rem;
}

.notice-eng,
.notice-kor {
    color: $grey-500;
    font-size: 0.8rem;
    line-height: 1.2rem;
}

.notice-eng {
    margin-bottom: 0.8rem;
}

.notice-kor {
    margin-bottom: 1rem;
}

.action-btns {
    display: flex;
    justify-content: end;
    gap: 1rem;

    a {
        display: inline-block;
        border-radius: 2rem;
        // height: 2rem;
        padding: 0.6rem 1.2rem;
        font-size: small;
        font-family: 'GmarketSansMedium';
        font-weight: 700;
        color: $main-color;
        border: 2px solid $main-color;
        transition: all 0.4s ease;
        line-height: 100%;
    }

    a:hover {
        background-color: $main-color;
        color: white;
    }
}