@charset "utf-8";

// font styles
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} // 나눔스퀘어네오
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} // 메이플스토리 / 300, 700
$code_font: monospace, Consolas;

// font size
$font_size_default: 13px;
$font_size_h1: 18px;
$font_size_h2: 17px;
$font_size_h3: 15px;
$font_size_desc: 11px;

// colors
$blue: #3464E0;
$blue_light: #507AE5;
$grey_light: #E6E6E6;
$grey_dark: #636363;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'NanumSquareNeo-Variable';
    font-size: $font_size_default;
}

// body{
//     display: grid;
//     grid-template-columns: 10% 80% 10%;
// }

#main{
    // grid-column: 2 / 3;
    width: 80%;
    margin: auto;
}

#title {
    padding: 3rem 10% 1rem 10%;
    font-weight: bold;
    font-family: 'MaplestoryOTFBold';
    font-size: 25px;
    border-bottom: 3px $blue solid;
    width: 100%;
    margin-bottom: 2rem;
}

h1, h2, h3 {
    font-weight: bold;
    font-family: 'MaplestoryOTFBold';
}

h1 {
    margin: 1.5rem 0 0.8rem 0;
    font-size: $font_size_h1;
    color: $blue;
}

h2 {
    margin: 1rem 0;
    font-size: $font_size_h2;
    color: $blue_light;
}

h3 {
    margin: 1rem 0;
    font-size: $font_size_h3;
}

p {
    line-height: 1.6rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

ul, ol {
    padding-left: 1rem;
}

ul li, ol li, li ul, li ol {
    margin-bottom: 0.2rem;
    line-height: 1.4rem;
}

// images
img {
    height: auto;
    padding: 1rem 0;
    display: block;
    margin: auto;
    max-width: 100%;
}

figcaption {
    // color: $grey-500;
    font-size: $font_size_desc;
    text-align: center;
    margin-bottom: 1rem;
    color: $grey_dark;
}

// code block
code {
    font-family: $code_font;
}

div.highlighter-rouge {
    margin: 1.3rem 0;
}

code.hljs {
    border-radius: 8px;
    border: 1px solid #d0d7de;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 18px 0px;
}

// 인라인 코드
code, code.highlighter-rouge { 
    border-radius: 5px;
    background-color: $grey_light;
    padding: 1px 4px;
}

// 가로선
hr {
    border: 0.1px solid $grey_light;
}

// tables
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
}

thead {
    background: $grey_light;
    // color: white;
}

th, td {
    padding: 0.4rem;
    text-align: left;
    line-height: 1.4rem;
}

tr {
    border-bottom: 0.5px solid $grey_dark;
}

a {
    text-decoration: none;
    color: $grey_dark;
}

#def-box {
    margin: 1rem 0 1.5rem 0;
    padding: 1rem;
    border-top: 2px solid $blue;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 18px 0px;

    .def-title {
        font-size: 1.1rem;
        line-height: 1.5rem;
        color: $blue;
        margin-bottom: 1.5rem;
        font-weight: 700;
    }

    .def-content {
        line-height: 1.6rem;
        margin-bottom: 1.2rem;
    }
}

#inserted-box {
    margin: 1rem 0 1.5rem 0;

    .notice-text {
        border-left: 3px solid $blue;
        padding: 0.5rem;
        padding-left: 1rem;

        
    }

    p {
        font-size: 0.9rem;
        line-height: 1.3rem;
        margin-bottom: 0;
    }
}