.container-notice {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 2.5rem;
    align-items: center;
}

.notice-title {
    color: $main-color;
    font-size: $font-size-h1;
    font-family: 'yg-jalnan';
    margin-bottom: 1rem;
}

.notice-date {
    color: $grey-500;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

@media screen and (max-width: 700px) {
    .container-notice {
        display: block;
        
        img {
            max-width: 40%;
            float: right;
            margin: 0 0 2rem 2rem;
        }
    }

    
    
}

@media screen and (max-width: 450px) {
    .container-notice {
        img {
            max-width: 100%;
            float: unset;
            margin: 0 0 2rem 0;
        }
    }
    

    .notice-title {
        font-size: 1.8rem;
    }
}