table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

thead {
    background: $main_color;
    color: white;
    
}

th, td {
    padding: 10px 15px;
    text-align: left;
}