table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

thead {
    background: $blue-400;
    color: white;
    
}

th, td {
    padding: 10px 15px;
    text-align: left;
    font-size: 0.8rem;
}

tr {
    border-bottom: 0.5px solid $grey-400;
}