#post-content,
#home-content,
#archive-content,
#search-content,
#content-404,
#content-notice {
    $pad: (($inner-width - $content-width) / 2);
    display: grid;
    grid-template-columns: 1fr $pad $content-width $pad 1fr;
}

.content-wrap {
    grid-column: 3 / 4;
    padding: 50px 0;

    h1, h2, h3 {
        font-weight: bold;
        font-family: 'MaplestoryOTFBold';
    }

    h1 {
        margin: 2rem 0 1rem 0;
        font-size: $font-size-h1;
        color: $main-color;
    }

    h2 {
        padding: 1.6rem 0px 0.9rem 0px;
        font-size: $font-size-h2;
    }

    h3 {
        padding: 1.4rem 0px 0.7rem 0px;
        font-size: $font-size-h3;
    }

    ul li, 
    ol li, 
    li ul, 
    li ol {
        margin-bottom: 0.4rem;
        line-height: 1.6rem;
    }

    ul, ol {
        padding-left: 1.2rem;
        margin-bottom: 1.2rem;
    }
}

#post-content img {
    max-width: $content-width;
    height: auto;
    padding: 1em 0;
    display: block;
    margin: auto;
}

#post-content a {
    text-decoration: none;
    color: $link-color;
    border-bottom: 1px dotted $link-color;
    font-weight: 500;
    line-height: 1.6rem;

    &:hover {
        background-color: $link-color;
        color: white;
    }
}

.search-bar {
    width: 100%;
	border: 1.5px solid $black;
    padding: 0.5rem 1rem;
    display: flex;
    margin-bottom: 2rem;
}

.search-bar i {
    margin-right: 1rem;
    line-height: 2rem;
}

#search-input {
    flex: 1;
    border: none;
    line-height: 2rem;
    outline: none;
    border-style: none;
}

// tablet
@media screen and (max-width:$max-width) {
    #post-content,
    #home-content,
    #archive-content {
        $pad: (($inner-width-tablet - $content-width-tablet) / 2);
        grid-template-columns: 1fr $pad $content-width-tablet $pad 1fr;
    }
    #post-content img {
        max-width: $content-width-tablet;
    }
}

// mobile
@media screen and (max-width: $max-width-tablet) {
    #post-content,
    #home-content,
    #archive-content {
        $pad: (($inner-width-mobile - $content-width-mobile) / 2);
        grid-template-columns: 1fr $pad $content-width-mobile $pad 1fr;
    }
    #post-content img {
        max-width: $content-width-mobile;
    }
}
