#recent-post-list-categories {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;
    margin-bottom: 2rem;

    #list-element-category {
        padding: 1.4rem 0.5rem;

        &:last-child {
            border-right: none;
        }

        .list-element-url {
            flex-direction: column;
        }

        div {
            text-align: center;
        }

        i {
            font-size: 1.5rem;
        }

        .category-icon {
            margin-bottom: 1rem !important;
        }

        .category-name {
            font-size: 0.8rem !important;
            font-family: 'GmarketSansMedium';
            font-weight: 700  !important;
        }
    }
    
    #list-element-category:hover {
        background-color: $blue-100;
        .list-element-url {
            box-shadow: none !important;

            i, div {
                color: $main-color;
            }
        }
    }
}

#archive-post-list-categories {
    display: flex;
    gap: 2rem;
    border-top: 1.5px solid $black;
    border-bottom: 1px solid $black;
    margin-bottom: 2rem;
    padding: 1rem 0.8rem;

    #list-element-category {
        .category-name {
            font-size: 0.8rem !important;
            font-family: 'GmarketSansMedium';
            font-weight: 700  !important;
            line-height: 100%;
        }
    }
    
    #list-element-category:hover {
        .list-element-url {
            box-shadow: none !important;

            div {
                color: $main-color;
            }
        }
    }
}


// common ====================================================================
.post-link:hover {
    .list-element-title {
        color: $main-color;
        text-decoration: underline 3px solid $main-color;
    }

    // img {
    //     transform: scale(1.3);
    // }
    // TODO 확대 효과
}

.list-element-teaser {
    overflow: hidden;
    margin: 0 auto;
    
    img {
        border-radius: 0.7rem;
        object-fit: cover;
        transition: all 0.3s ease;
        width: 100%;
    }

    .empty-teaser {
        background-color: $grey-100;
    }
}

.list-element-category,
.list-element-date,
.list-element-excerpt {
    color: $grey-500;
    font-size: small;
    margin-bottom: 0.5rem;
}

.list-element-excerpt {
    line-height: 1.1rem;
}

.list-element-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
    line-height: 1.6rem;
}

// recent & specific category posts ============================================
#list-default {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 1.2rem;
}

#default-single-first {
    grid-column: 1 / 2;
    grid-row: 1 / 4;

    .list-element-teaser {
        margin-bottom: 1rem;
    }
}

#default-single-other {
    display: grid;
    grid-template-columns: 6rem auto;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey-400;

    &:last-child {
        border-bottom: none;
    }

    .list-element-teaser > img {
        height: 6rem;
    }

    .list-element-text {
        padding-top: 0.3rem;
    }

    .list-element-title {
        font-size: 1rem;
        line-height: 1.4rem;
    }
    
}

#default-single-default {
    display: grid;
    grid-template-columns: 8rem auto;
    gap: 1rem;
    padding-bottom: 1.5rem;

    &:last-child {
        border-bottom: none;
    }

    .list-element-teaser > img {
        height: 8rem;
    }

    .list-element-text {
        padding-top: 0.5rem;
    }
}

// categories ===============================================================
#list-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 18px;
}

#category-single {
    padding: 1rem;
    border-radius: 0.8rem;
    background: $grey-100;
    border: 1px solid $grey-200;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 3px 9px;

    .category-icon {
        border-radius: 0.3rem;
        background-color: $blue-200;
        width: 1.8rem;
        text-align: center;
    }

    i {
        color: $main-color;
        line-height: 1.8rem;
    }

    .category-title {
        margin-top: 1.4rem;
        font-family: 'GmarketSansMedium';
    }
}

#category-single:hover {
    background-color: $main-color;

    .category-icon {
        background-color: white;
    }

    i {
        color: $main-color;
    }

    .category-title {
        color: white;
    }
}

// featured posts ===========================================================
#list-featured {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.2rem;
}

#featured-single {
    padding: 1.2rem;
    border-radius: 0.7rem;
    min-height: 13rem;
    display: flex;

    .list-element-category,
    .list-element-date,
    .list-element-excerpt {
        color: $grey-100;
    }

    .list-element-title {
        color: white;
    }
}

#featured-single:hover {
    .list-element-title{
        color: $main-color;
    }
    
}