#sidebar {
	box-sizing: border-box;
	position: fixed; // sticy하면 본문이 그만큼 옆으로 퍼짐
	height: 100vh;
	background-color: white;
	width: $sidebar-width;
	margin: 0;
	overflow-y: auto;
	z-index: 5;
	top: 40px;
	bottom: 0;
	left: -$sidebar-width;
	border-right: 1px solid transparent;
	transition: all .3s cubic-bezier(.215,.61,.355,1);
	transform: translate3d(0,0,0);

	// @media screen and (max-width:$max-width) {
	// 	top: 100px;
		
	// 	#sidebar {
	// 		width: $sidebar-width-tablet;
	// 		left: -$sidebar-width-tablet;
	// 	}
	// }
	
	@media screen and (max-width:$max-width-tablet) {
		top: 100px;
		#sidebar {
			width: $sidebar-width-mobile;
			left: -$sidebar-width-mobile;
		}
	}
}

#sidebar::-webkit-scrollbar{
	display:none;
}

.sidebar-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid $grey-400;
	padding-bottom: 30px;

	.header-background {
		position: relative;
		width: 100%;
		height: 150px;
		background-color: $black;
	}

	.profile-img {
		position: relative;
		top: -50px;
		z-index: 10;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin-bottom: -30px;
	}

	.name-wrap {
		margin-bottom: 20px;

		span {
			display: block;
			text-align: center;
		}
		.usrname {
			font-size: 20px;
			font-weight: 700;
			color: $black;
		}
		.name {
			font-size: 16px;
			font-weight: 600;
			color: $grey-600;
		}
	}

	.contact-list {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 20px;

		.contact {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 1px solid $grey-300;
			text-align: center;
			transition: all 0.4s ease;

			i {
				line-height: 50px;
				font-size: 24px;
				color: $black;
			}
		}
	}

	.contact:hover {
		background-color: $main-color;
		border: 1px solid transparent;

		i {
			color: white;
		}
	}
}

.sidebar-content {
	padding: 30px 0 30px 15px;
	font-size: 0.9rem;
}

#sidebar.open {
	left: 0;
	border-color: #c2c2c2;
	transition: all .2s cubic-bezier(.215,.61,.355,1);
}

.lv1-categories,
.lv2-categories {
	list-style: none;
}

.lv1-category {
	.lv1-title-wrap {
		height: 46px;
		padding: 8px;
		border-bottom: 1px solid $grey-300;

		.lv1-title {
			display: flex;
			flex-direction: row;
			line-height: 30px;
			border-radius: 5px;
			padding: 0 20px;

			&:hover {
				background-color: $hover-color;
			}

			.lv1-title-link {
				flex: 1;
			}

			.expand-btn {
				outline: none;
				background-color: transparent;
				border: 0;
				cursor: pointer;
				height: 30px;
				width: 30px;
				transition: 0.2s;

				svg {
					height: 10px;
					width: 10px;
				}
			}
		}

		
	}
}

.lv2-categories {
	display: none;
	
}

.lv2-categories.expand {
	display: block;
	// transition: 0.5s; // TODO 부드럽게 열리기
}

.lv2-category {
	padding-left: 20px; // 소분류 들여쓰기

	.lv2-title-wrap {
		height: 46px;
		padding: 8px;
		border-bottom: 1px solid $grey-300;

		.lv2-title {
			display: flex;
			flex-direction: row;
			line-height: 30px;
			border-radius: 5px;
			padding: 0 20px;

			&:hover {
				background-color: $hover-color;
			}

			.lv2-title-link {
				flex: 1;
			}
		}
	}
	
}

button.expand {
	transform: rotate(180deg);
}

