#post-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $black;
    padding-top: 150px;
    position: relative;
    color: white;

    .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: $inner-width;
    }

    .title-wrap {
        width: $content-width;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-bottom: 40px;
    }

    .title-text {
        font-size: $post-title;
        margin-bottom: 20px;
        font-family: "yg-jalnan";
        line-height: $post-title + 10px;
    }

    .title-date {
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .title-tag-wrap {
        display: flex;
        flex-direction: row;
        gap: 5px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .tag-single {
        border-radius: 14px;
        background-color: $main-color;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 300;
    }

    .post-teaser-wrap {
        z-index: 1;
    }

    .post-teaser {
        width: $content-width;
    }

    .title-bottom {
        position: absolute;
        height: 20vh;
        bottom: 0;
        background-color: white;
        width: 100%;
    }

    // @media screen and (max-width:$max-width) {
    //     .title-container {
    //         width: $inner-width-tablet;
    //     }

    //     .title-wrap {
    //         width: $content-width-tablet;
    //     }
    // }

    @media screen and (max-width:$max-width-tablet) {
        .title-container {
            width: $inner-width-mobile
        }

        .title-wrap {
            width: $content-width-mobile;
        }
    }
}

#home-title {
    .title-wrap{
        display: grid;
        grid-template-rows: 1fr 3fr 1.5fr 1fr;
        align-items: center;
        background: linear-gradient(rgba(33,33,33,0) 0%, rgba(33,33,33,0.95) 100%), url("/assets/images/samples/image1.jpg"); // 
        background-position:center center; 
        background-size: cover;
        height: calc(100vh - 134px);

        .title-text {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-row: 2 / 3;
            color: white;
            font-size: 40px;
            font-weight: 600;
        }

        .contact-list {
            grid-row: 3 / 4;
            display: flex;
            justify-content: center;
            gap: 90px;

            .contact {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 18px;
                width: 150px;
                height: 50px;
                border: 2px solid white;
                // border-radius: 30px;
                padding: 7px 15px;
                cursor: pointer;

                background: transparent;
                transition: all 0.3s ease;
                position: relative;
                z-index: 1;

                .contact-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;

                    i, span {
                        color: white;
                        font-size: 30px;
                    }
                }

                .contact-title {
                    display: flex;
                    justify-content: center;
                    color: white;
                }
            }

            .contact:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 0;
                top: 0;
                left: 0;
                z-index: -1;
                background: rgb(255, 255, 255);
                transition: all 0.3s ease;
            }

            .contact:hover {
                i, span, .contact-title {
                    color: $black;
                }
            }

            .contact:hover:after {
                top: auto;
                bottom: 0;
                height: 100%;
            }
        }
    }

    .scroll-down {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $grey-500;
        font-size: 50px;
        line-height: 100px;
    }
}

#archive-title {
    display: flex;
    justify-content: center;
    // background: linear-gradient(79deg, rgba(72,149,239,1) 0%, rgba(86,11,173,1) 100%);

    .title-container {
        width: $inner-width;
        height: 300px;
        display: flex;
        justify-content: center;
    }

    .title-wrap {
        width: $content-width;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 40px;
        font-weight: 600;
    }
}
