#topbar {
    position: sticky;
    top: 0;
    // TODO 처음엔 등장 안 하다가 스크롤 내리면 동작하도록?
    display: flex;
    flex-direction: column;
    // align-items: center;
    width: 100%;
    
    z-index: 999;
}

// .breadcrumb {
//     flex: 1fr;
//     background-color: rgba(255,255,255,0.6);
//     backdrop-filter: blur(5px);/* TODO 스크롤 전엔 투명X */
//     display: flex;
//     flex-direction: row;
//     padding: 8px 8px;
//     align-items: center;
//     height: 40px;
//     overflow: hidden; // TODO 화면 좁아지면 글자 조정하기

//     .breadcrumb-category,
//     .breadcrumb-title {
//         padding: 0 6px;
//         height: 30px;
//         border-radius: 3px;
//         color: rgb(55, 53, 47); /* TODO 색 다시 설정*/
//     }

//     .breadcrumb-slash {
//         margin-left: 2px;
//         margin-right: 2px;
//         color: rgba(55, 53, 47, 0.4); /* TODO 색 다시 설정*/
//     }
// }

// ======================================================

.topbar-main {
    display: flex;
    flex-direction: row;
    gap: 10px 15px;
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(5px);/* TODO 스크롤 전엔 투명X */
    padding: 8px 15px;
    align-items: center;
    height: 40px;
    overflow: hidden; // TODO 화면 좁아지면 글자 조정하기

    .sidebar-btn {
        .bar1, .bar2, .bar3 {
            width: 20px;
            height: 2px;
            background-color: #333;
            margin: 5px 0;
            transition: 0.4s;
        }
        
        &.open .bar1 {
            transform: translate(0, 7px) rotate(-45deg);
        }
        
        &.open .bar2 {opacity: 0;}
        
        &.open .bar3 {
            transform: translate(0, -7px) rotate(45deg);
        }
    }
    

    .material-symbols-outlined {
        cursor: pointer;

        a {
            color: #333;
            text-decoration: none;
        }

        font-size: 28px;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 10,
        'opsz' 48;
    }

    .light-toggle {
        border: none;
        background: none;

        .light-mode {
            display: block;
        }
        .dark-mode {
            display: none;
        }
    }

    .dark {
        .light-mode {
            display: none;
        }
        .dark-mode {
            display: block;
        }
    }

    .page-title {
        flex: 1;
        display: flex;
        justify-content: center;
    }
}



.progress-bar-wrap {
    top: 40px;
    width: 100%;
    height: 3px;
    background: transparent;
}

.progress-bar {
    height: 3px;
    width: 0%;
    background: $main_color;
    border-radius: 0 5px 5px 0;
}