#topbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 999;
    background-color: $black;
}

// .breadcrumb {
//     flex: 1fr;
//     background-color: rgba(255,255,255,0.6);
//     backdrop-filter: blur(5px);/* TODO 스크롤 전엔 투명X */
//     display: flex;
//     flex-direction: row;
//     padding: 8px 8px;
//     align-items: center;
//     height: 40px;
//     overflow: hidden; // TODO 화면 좁아지면 글자 조정하기

//     .breadcrumb-category,
//     .breadcrumb-title {
//         padding: 0 6px;
//         height: 30px;
//         border-radius: 3px;
//         color: rgb(55, 53, 47); /* TODO 색 다시 설정*/
//     }

//     .breadcrumb-slash {
//         margin-left: 2px;
//         margin-right: 2px;
//         color: rgba(55, 53, 47, 0.4); /* TODO 색 다시 설정*/
//     }
// }

// ======================================================

// .topbar-main {
//     display: flex;
//     flex-direction: row;
//     gap: 10px 15px;
//     background-color: rgba(255,255,255,0.6);
//     backdrop-filter: blur(5px);/* TODO 스크롤 전엔 투명X */
//     padding: 8px 15px;
//     align-items: center;
//     height: 40px;
//     overflow: hidden; // TODO 화면 좁아지면 글자 조정하기

//     .sidebar-btn {
//         cursor: pointer;
        
//         .bar1, .bar2, .bar3 {
//             width: 20px;
//             height: 2px;
//             background-color: #333;
//             margin: 5px 0;
//             transition: 0.4s;
//         }
        
//         &.open .bar1 {
//             transform: translate(0, 7px) rotate(-45deg);
//         }
        
//         &.open .bar2 {opacity: 0;}
        
//         &.open .bar3 {
//             transform: translate(0, -7px) rotate(45deg);
//         }
//     }
    

//     .material-symbols-outlined {
//         cursor: pointer;

//         a {
//             color: #333;
//             text-decoration: none;
//         }

//         font-size: 28px;
//         font-variation-settings:
//         'FILL' 0,
//         'wght' 400,
//         'GRAD' 10,
//         'opsz' 48;
//     }

//     .light-toggle {
//         border: none;
//         background: none;

//         .light-mode {
//             display: block;
//         }
//         .dark-mode {
//             display: none;
//         }
//     }

//     .dark {
//         .light-mode {
//             display: none;
//         }
//         .dark-mode {
//             display: block;
//         }
//     }

//     .page-title {
//         flex: 1;
//         display: flex;
//         justify-content: center;
//     }
// }

.topbar-main {
    display: flex;
    flex-direction: row;
    background-color: $black;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    height: 50px;
    top: 5px;
}

.sidebar-btn {
    cursor: pointer;
    margin-right: 30px;
    
    .bar1, .bar2, .bar3 {
        width: 20px;
        height: 2px;
        background-color: white;
        margin: 5px 0;
        transition: 0.4s;
    }
    
    &.open .bar1 {
        transform: translate(0, 7px) rotate(-45deg);
    }
    
    &.open .bar2 {opacity: 0;}
    
    &.open .bar3 {
        transform: translate(0, -7px) rotate(45deg);
    }
}

.material-symbols-outlined {
    cursor: pointer;

    a {
        color: white;
        text-decoration: none;
    }

    // font-size: 28px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 10,
    'opsz' 48;
}

// .icon-home {
//     height: 30px;
// }

.topbar-page-link {
    margin-right: 30px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.topbar-page-links {
    flex: 1;
    display: flex;
    justify-content: right;
}

.topbar-page-links:last-child {
    margin-right: 40px;
}

.progress-bar-wrap {
    top: 0px;
    width: 100%;
    background: transparent;

    .progress-bar {
        height: 5px;
        width: 0%;
        background: $main-color;
        // border-radius: 0 5px 5px 0;
    }
}

.search-box {
    background-color: white;
    max-height: 85%;
    height: 30px;
    width: 10vw;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5px;
}


.icon-search {
    color: $black;
}

// tablet
@media all and (max-width: $max-width){
    .topbar-main {
        height: 80px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .sidebar-btn {
        margin-right: 30px;
        
        .bar1, .bar2, .bar3 {
            width: 38px;
            height: 3px;
            background-color: white;
            margin: 9px 0;
            transition: 0.4s;
        }
        
        &.open .bar1 {
            transform: translate(0, 11px) rotate(-45deg);
        }
        
        &.open .bar2 {opacity: 0;}
        
        &.open .bar3 {
            transform: translate(0, -11px) rotate(45deg);
        }
    }

    .icon-home, .icon-search {
        font-size: 45px !important;
    }

    .search-box {
        width: auto;
        height: 100%;
        background-color: transparent;
        flex: 1;
        display: flex;
        justify-content: end;
        align-items: center;

        .icon-search {
            color: white;
        }
    }

    .progress-bar-wrap, .topbar-page-links {
        display: none;
    }
}


// mobile
@media all and (max-width: $max-width-tablet){
    .topbar-main {
        height: 120px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .sidebar-btn {
        margin-right: 50px;
        
        .bar1, .bar2, .bar3 {
            width: 40px;
            height: 4px;
            background-color: white;
            margin: 10px 0;
            transition: 0.4s;
        }
        
        &.open .bar1 {
            transform: translate(0, 14px) rotate(-45deg);
        }
        
        &.open .bar2 {opacity: 0;}
        
        &.open .bar3 {
            transform: translate(0, -14px) rotate(45deg);
        }
    }

    .icon-home, .icon-search {
        font-size: 55px !important;
    }

    .search-box {
        width: auto;
        height: 100%;
        background-color: transparent;
        flex: 1;
        display: flex;
        justify-content: end;
        align-items: center;

        .icon-search {
            color: white;
        }
    }

    .progress-bar-wrap, .topbar-page-links {
        display: none;
    }
}
