#topbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 999;
    background-color: $black;
}

.topbar-main {
    display: flex;
    flex-direction: row;
    background-color: $black;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    height: 50px;
    top: 5px;
}

.sidebar-btn {
    cursor: pointer;
    margin-right: 30px;
    
    .bar1, .bar2, .bar3 {
        width: 20px;
        height: 2px;
        background-color: white;
        margin: 5px 0;
        transition: 0.4s;
    }
    
    &.open .bar1 {
        transform: translate(0, 7px) rotate(-45deg);
    }
    
    &.open .bar2 {opacity: 0;}
    
    &.open .bar3 {
        transform: translate(0, -7px) rotate(45deg);
    }
}

.material-symbols-outlined {
    cursor: pointer;

    a {
        color: white;
        text-decoration: none;
    }

    // font-size: 28px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 10,
    'opsz' 48;
}

.topbar-page-link {
    margin-right: 1rem;
    color: white;
    font-family: 'GmarketSansMedium'
}

.topbar-page-links {
    flex: 1;
    display: flex;
    justify-content: right;
}

.topbar-page-links:last-child {
    margin-right: 40px;
}

.progress-bar-wrap {
    top: 0px;
    width: 100%;
    background: transparent;

    .progress-bar {
        height: 5px;
        width: 0%;
        background: $main-color;
    }
}


// tablet
@media all and (max-width: $max-width){
    .topbar-main {
        height: 80px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .sidebar-btn {
        margin-right: 30px;
        
        .bar1, .bar2, .bar3 {
            width: 38px;
            height: 3px;
            background-color: white;
            margin: 9px 0;
            transition: 0.4s;
        }
        
        &.open .bar1 {
            transform: translate(0, 11px) rotate(-45deg);
        }
        
        &.open .bar2 {opacity: 0;}
        
        &.open .bar3 {
            transform: translate(0, -11px) rotate(45deg);
        }
    }

    .icon-home, .icon-search {
        font-size: 45px !important;
    }

    .search-box {
        width: auto;
        height: 100%;
        background-color: transparent;
        flex: 1;
        display: flex;
        justify-content: end;
        align-items: center;

        .icon-search {
            color: white;
        }
    }

    .topbar-page-links {
        display: none;
    }
}


// mobile
@media all and (max-width: $max-width-tablet){
    .topbar-main {
        height: 56px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .sidebar-btn {
        margin-right: 16px;
        flex: 1;
        
        .bar1, .bar2, .bar3 {
            width: 24px;
            height: 2px;
            background-color: white;
            margin: 7px 0;
            transition: 0.4s;
        }
        
        &.open .bar1 {
            transform: translate(0, 9px) rotate(-45deg);
        }
        
        &.open .bar2 {opacity: 0;}
        
        &.open .bar3 {
            transform: translate(0, -9px) rotate(45deg);
        }
    }

    .icon-home, .icon-search {
        font-size: 27px !important;
    }

    .icon-home {
        margin-right: 1rem;
    }

    .topbar-page-links {
        display: none;
    }
}
