---
layout: default
---

<div class="layout-default">

    <!-- archive title -->
    <div id="archive-title" style="background: linear-gradient(0deg, rgba(0,0,0,0),rgba(0,0,0,0)), url({{ page.title_bg | relative_url}}); background-position:center center; background-size: cover"> 
        <div class="title-container">
            <div class="title-wrap">
                {{ page.title }}
            </div>
        </div>
    </div>

    <!-- 본문 -->
    <div id="archive-content" class="content-default">
        <div class="content-wrap">
            {{ content }}
        </div>
    </div>

</div>

{%comment%}
    {% assign categories = site.data.categories.categories %}
                    {% for lv1 in categories %}
                        {% if lv1.lv1_cateory == 'Robotics' %}
                        {% endif %}
                    {% endfor %}
                    {{ lv2_bg }}
    {% assign categories = site.data.categories.categories %}
    {% for lv1 in categories %}
        <li class="lv1-category">
            <div class="lv1-title-wrap">
                <div class="lv1-title">
                    <a href="{{ lv1.url | relative_url }}" class="lv1-title-link">{{ lv1.lv1_category }}</a>
                    <button class="expand-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                    </button>
                </div>
            </div>
            
            <ul class="lv2-categories">
                {% for lv2 in lv1.lv2 %}
                    <li class="lv2-category">
                        <div class="lv2-title-wrap">
                            <div class="lv2-title">
                                <a href="{{ lv2.url | relative_url }}" class="lv2-title-link">{{ lv2.lv2_category }}</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
{%endcomment%}