<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

        <!-- icon -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- highlight style -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css"
        />
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <script>
            hljs.highlightAll();
        </script>

        <!-- mathjax -->
        {% if page.use_math %}
            {% include mathjax_support.html %}
        {% endif %}
    </head>
    
    <body style="position: relative">
        {% include topbar.html %}

        <!-- side bar -->
        {% include sidebar.html %}

        <!-- body main -->
        {{ content }}
        
        <!-- footer -->
        {% include footer.html %}

        <!-- go to the top -->
        <a href="#" class="scroll-btn go-top" title="Top">
            <span class="material-symbols-outlined">
                arrow_upward
            </span>
        </a>

        {%comment%}
        <!-- footer -->
        <a href="#footer" class="scroll-btn go-bottom" title="Bottom">
            <span class="material-symbols-outlined">
                arrow_downward
            </span>
        </a>
        {%endcomment%}

    </body>
</html>

{%comment%}
<!-- TODO 
    - id, class 규칙 정해 할당하기
    - 다크모드: https://velog.io/@yijaee/%EB%8B%A4%ED%81%AC%EB%AA%A8%EB%93%9C-%EA%B5%AC%ED%98%84%ED%95%98%EA%B8%B0
    - 기본 or blank 이미지 정하기
    - breadcrumb 링크 걸기
    - toc 제대로
    - sidebar 디자인: https://deeplify.dev/front-end/markup/text-ellipsis#css-%EB%A7%90%EC%A4%84%EC%9E%84-2%EC%A4%84-%EC%9D%B4%EC%83%81-%EC%A0%81%EC%9A%A9%ED%95%98%EA%B8%B0
-->
{%endcomment%}