---
layout: default
---

<div class="layout-default">

    <div id="home-content" class="content-default">

        <!-- content-wrap -->
        <div class="content-wrap">

            <div id="urgent-notice">
                <div class="notice-icon-wrap"><i class="fa-solid fa-bell"></i></div>
                <div class="notice-text">블로그 리뉴얼 중입니다!! 디자인이 수시로 변경되거나 이전 주소가 바뀔 수 있습니다!!</div>
                <a href="/notice" class="go-notice-btn">Go to Notice</a>
            </div>
            
            <!-- recent posts -->
            <div id="list-basic">
                <div class="list-title-wrap">
                    <div class="list-title">Recent Posts</div>
                    <div class="line"></div>
                </div>

                <div class="list-elements" id="list-ver1">
                    {% comment %}
                    {% for post in site.posts limit : 3 %} 
                        {% if forloop.first %}
                            {% include /list_element/list_element_ver1.html %}
                        {% else %}
                            {% include /list_element/list_element_hor1.html %}
                        {% endif %}
                    {% endfor %}
                    {% endcomment %}

                    {% for post in site.posts limit : 3 %}
                        {% include /list_element/list_element_ver1.html %}
                    {% endfor %}
                </div>
            </div>
    
            <!-- categories -->
            <div id="list-basic">
                <div class="list-title-wrap">
                    <div class="list-title">Categories</div>
                    <div class="line"></div>
                </div>

                <div class="list-elements" id="list-categories">
                    {% assign categories = site.data.categories.categories %}
                    {% for lv1 in categories %}
                        {% assign category = lv1.lv1_category %}
                        {% assign category_url = lv1.url %}
                        {% assign icon_cls = lv1.icon %}
                        {% include /list_element/list_element_category.html title=category url=category_url icon=icon_cls%}
                    {% endfor %}
                </div>
            </div>
    
            <!-- featured posts -->
            <div id="list-basic">
                <div class="list-title-wrap">
                    <div class="list-title">Featured Posts</div>
                    <div class="line"></div>
                </div>
                <div class="list-elements" id="list-hor2">
                    {% for post in site.posts %} 
                        {% if post.feature == true %}
                            {% include /list_element/list_element_hor2.html %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- category -->
            <div id="list-basic">
                <div class="list-title-wrap">
                    <div class="list-title">Robotics</div>
                    <div class="line"></div>
                </div>

                <div class="list-elements" id="list-mix2">
                    {% assign posts = site.categories.Robotics %}
                    {% for post in posts limit : 3 %} 
                        {% if forloop.first %}
                            {% include /list_element/list_element_hor3.html %}
                        {% else %}
                            {% include /list_element/list_element_hor4.html %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
    
            <!-- category -->
            <div id="list-basic">
                <div class="list-title-wrap">
                    <div class="list-title">AI</div>
                    <div class="line"></div>
                </div>

                <div class="list-elements" id="list-mix2">
                    {% assign posts = site.categories.AI %}
                    {% for post in posts limit : 3 %} 
                        {% if forloop.first %}
                            {% include /list_element/list_element_hor3.html %}
                        {% else %}
                            {% include /list_element/list_element_hor4.html %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
    
        </div>
    
    </div>
</div>