<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link 
            rel="stylesheet" 
            href="{{ '/assets/css/style_print.css' | relative_url }}"
        />

        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Charm&display=swap" rel="stylesheet">

        <!-- highlight style -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css"
        />
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <script>
            hljs.highlightAll();
        </script>

        <!-- mathjax -->
        {% comment %}{% include mathjax_support.html %}{% endcomment %}
        <script>
            MathJax = {
              tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
              }
            };
        </script>
        <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
        </script>

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    </head>    

    <body>
        <div id="title">
            {{ page.title }}
        </div>
        <div id="main">
            {{ content }}
        </div>
    </body>
</html>